.cont-filters {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 3px solid;
}
.card-conteinerApp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6px;
}
.card-conteinerApp > h1 {
  max-width: 500px;
}
.noResults {
  font-family: var(--font-family-2);
  font-size: 20px;
  height: 65vh;
}

@media (max-width: 764px) {
  .card-conteinerApp > h1 {
    max-width: 250px;
  }
}
