:root {
  --font-family-1: "IBM Plex Sans", sans-serif;
  --font-family-2: "IBM Plex Mono", monospace;
}
.cont-header {
  max-width: 1300px;
  margin: 0 auto;
}
.cont-text {
  background-color: #a577a5;
  max-width: 1300px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  height: 60px;
}
.text-header {
  padding-left: 10px;
  font-family: var(--font-family-2);
  font-weight: bolder;
  color: aliceblue;
  font-size: 1.6em;
}
.text-header:hover {
  color: #2b2828;
}
.text-header {
  transition: color 0.8s linear 0.1s;
}
