
//Colors
$primary: #5665C5; 
$dark: #000000; 
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #ffffff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$text-header: aliceblue; 
$text-header-hover: #2b2828;
$card-title: #4f3b3b; 
$card-bg: lightcoral;
$card-btn-bg: #a577a5; 
$card-btn-border: #5a1a6d; 
$card-hover: #fc8ad0; 
$footer: #35e93e17;
$footer-paragraph: #1c1c1c; 

//Fonts
:root {
    --font-family-1: "IBM Plex Sans", sans-serif;
    --font-family-2: "IBM Plex Mono", monospace;
    --font-size-1-320: 15px;
    --font-size-2-320: 20px;
    --font-size-3-320: 16px;
    --font-size-4-320: 18px;
  }